name: Build and Deploy Angular App

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install Angular CLI
      run: npm install -g @angular/cli
    - name: Install dependencies
      run: npm install
    - name: Build Angular app
      run: ng build --prod
